@model HomeViewModel

<h3>Прокат. Доступно.</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (RentItem rentItem in Model.availableItems)
        {
            @Html.Partial("RentItemsTemplate", rentItem)
        }
    }
</div>