@model RentItem

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.ImgUrl" alt="@Model.Name" />
    <h3>Наименование: @Model.Name</h3>
    <p>Стоимость проката: @Model.RentPrice.ToString("c")</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>