
<h3>Прокат.</h3>
<h4>@Model.currentCategory</h4>
<div class="row mt-5 mb-2">
    @{
        foreach (RentItem rentItem in Model.GetAllRentItems)
        {
            @Html.Partial("RentItemsTemplate",rentItem)
        }
    }
</div>
